.banner {
  background-image: url("../../../assets/images/Content-creator/banner.webp");
  background-size: cover;
  height: 100vh;
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 192.357px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }
  h5 {
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }
}
