.whyChoose {
  // background-image: url("../../../assets/images/home/Group\ 59.png");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 0px 55px 0px 80px;
  height: 100vh;
  .service-wrapper {
    position: relative;
    margin-top: -100px;
    margin-right: 70px;
    .background {
      position: absolute;
      border-radius: 0px 112.5px 395px 395px;
      background: linear-gradient(
        180deg,
        rgba(0, 205, 172, 0.3) 0%,
        rgba(0, 205, 172, 0) 100%
      );
      filter: blur(127px);
      width: 100%;
      height: 225px;
    }
    .cursor-wrapper {
      position: relative;
      z-index: 1;
      width: 50px;
      height: 123px;
      border-radius: 25px;
      border: 3px solid #000;
      .g-circle {
        width: 24px;
        height: 24px;
        background: var(--greenish-blue);
        border-radius: 50%;
        transition: transform 1.5s linear;
        animation: UpDown 1.5s infinite alternate;
        @keyframes UpDown {
          0% {
            transform: translateY(-5%);
          }
          100% {
            transform: translateY(50%);
          }
        }
      }
      .down-arrow {
        transition: transform 1.5s linear;
        animation: ArrowUpDown 1.5s infinite alternate;
        @keyframes ArrowUpDown {
          0% {
            height: 40px;
          }
          100% {
            height: 29px;
          }
        }
      }
    }
    p {
      max-width: 738px;
    }
  }

  .two {
    display: flex;
    align-items: center;
    gap: 125px;
    height: 100%;
    .left {
      width: 50%;
      h1 {
        color: #000;
        font-family: "Roboto";
        font-size: 219.201px;
        font-style: normal;
        font-weight: 800;
        line-height: 237px; /* 108.12% */
        text-transform: uppercase;
      }
    }
    .right {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .whyChoose {
    .two {
      .left {
        h1 {
          font-size: 150px;
          line-height: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .whyChoose {
    .service-wrapper {
      margin-right: 0;
    }
    .two {
      .left {
        h1 {
          font-size: 120px;
          line-height: 100%;
        }
      }
      .right {
        display: flex;
        justify-content: end;
        img {
          max-width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .whyChoose {
    padding: 50px 20px;
    height: 60vh;
    .two {
      flex-direction: column;
      padding-top: 30px;
      gap: 50px;
      .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 40px;
        }
      }
      .right {
        width: 100%;
        justify-content: center;
      }
    }
  }
  .whyChoose .service-wrapper .cursor-wrapper {
    display: none !important;
  }
}
